<div class="w-full">
    <div class="flex justify-between items-center bg-white border p-4 rounded-lg">
      <h1 class="font-bold text-2xl">Yetkazib beruvchilar</h1>
      <%= link_to new_admin_delivery_path do %>
        <p  class="rounded-lg py-2 px-5 bg-base text-white font-medium flex items-center"><i class='bx bx-user-plus text-xl mr-2'></i> yangi hodim qoshish</p>
      <% end %>
    </div>
</div>