<header class="p-4 rounded-xl border bg-white flex justify-between items-center">
    <h1 class="text-xl font-semibold">Admin paneli</h1>
    <h1 class="text-xl">sana: <strong><%= Time.now.strftime("%d-%m-%Y") %></strong></h1>
</header>