<div class="md:w-2/4 mx-auto my-10 space-y-5">
    <h1 class="text-xl font-semibold">Qanday Buyurtma qilish?!</h1>
    <ul class="space-y-3">
        <li class="text-gray-700"><strong>1.</strong> avvalo roixatdan otishingiz va malumotlarni toliq va tpgri kirzizib olishingiz kerak! <%= link_to "Roihatdan otish", new_user_registration_path, class: "text-blue-500" %> vaqtida Asosiy etibor qaratilishi kerak bolgan yolak, <strong>telefon raqamini</strong> togi formatda yozish lozim, masalan <strong>+998 33-303-8282</strong> raqamini <strong>333038282</strong> formatida joylang aniqlik uchun.</li>
        <li class="text-gray-700"><strong>2.</strong> Song o'zingiz hohlagan mahsulot va taomlarni <strong>savatchaga</strong> soling, va tayyor bolgandan song buyurtma berish tugmasini bosing, tugma sizni alohida sahifaga olib otadi, sahifada kuting va operatorlar siz bilan boglanishadi ularga buyurtma raqamini aytib bering, sahifani tark etgan holatingizda ismingiz yozilgan tugmani bosib buyurtmalar tarihini korishingiz mumkin.</li>
        <li class="text-gray-700"><strong>3.</strong> hech qanday 3 yoq :D, shunchaki kuting va taom yetib keladi!</li>
    </ul>
</div>