<div class="p-5 rounded-xl border bg-white space-y-5">
    <h3 class="text-2xl font-semibold">Mahsulotlarni sotilgan soni</h3>
    <%= column_chart OrderProduct.joins(:product).group("product.title").sum(:amount), colors: ["#FF7010"] %>
</div>