<div class="mx-auto md:w-2/3 w-full space-y-5">
  <div class="p-4 border rounded-lg bg-white flex justify-between items-center">
    <h1 class="font-bold text-2xl">Yangi tur yarating</h1>
    <%= link_to admin_categories_path, class: "ml-2 rounded-lg py-2 px-5 bg-gray-100 inline-block font-medium hover:text-base" do %>
      <p class="flex items-center"><i class='bx bx-chevron-left text-3xl'></i> turlar toplamiga qaytish</p>
    <% end %>
  </div>

  <%= render "form", admin_category: @admin_category %>
</div>
