<div class="w-full space-y-5">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Products" %>

  <div class="flex justify-between items-center p-4 bg-white rounded-lg border">
    <h1 class="font-bold text-2xl">Mahsulotlar</h1>
    <%= link_to new_admin_product_path do %>
      <p class="rounded-lg py-2 px-5 bg-base text-white font-medium flex items-center"><i class='bx bx-layer-plus text-xl mr-2'></i> Yangi mahsulot yaratish</p>
    <% end %>
  </div>

  <p class="font-semibold px-4">barcha mahsulotlar:</p>

  <div id="admin_products" class="min-w-full space-y-5">
    <% @admin_products.each do |admin_product| %>
      <%= render admin_product %>
    <% end %>
  </div>
</div>
