<div class="bg-white p-4 rounded-lg border flex justify-between items-center">
    <h1 class="text-2xl font-semibold">Barcha mijozlar</h1>
    <%= link_to new_admin_user_path do %>
      <p  class="rounded-lg py-2 px-5 bg-base text-white font-medium flex items-center"><i class='bx bx-layer-plus text-xl mr-2'></i> yangi tur yaratish</p>
    <% end %>
</div>