<div class="bg-white p-4 rounded-lg border flex justify-between items-center">
    <h1 class="text-2xl font-semibold">Barcha mijozlar</h1>
</div>
<p class="p-4 lg:w-2/3 mx-auto">Barcha mijozlar:</p>
<div class="lg:w-2/3 mx-auto space-y-5">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</div>