<div class="lg:w-2/3 mx-auto space-y-5">
    <div class="bg-white p-4 border rounded-xl flex justify-between items-center">
        <p class="text-xl font-semibold">Mijoz No<%= @user.id %></p>
        <%= link_to admin_users_path do %>
            <p class="bg-gray-100 text-black hover:text-t_base py-2 px-4 rounded-lg">Orqaga qaytish</p>
        <% end %>
    </div>
    <div class="bg-white p-4 border rounded-xl flex justify-between items-center">
        
    </div>
</div>